body{
    background-color: #232323;
    text-align: center;
    color: red;
    font-family: 'Baloo Bhai', cursive;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
  color: red;  
  text-align: center;
}
h2 {
  size: 35px;
}

#title {
  font-family: 'Bitter', serif;
  font-size: 50px;
}
#pop {
  width: 60px;
  height: 60px;
  }
 
#navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: auto;
  border: solid 10px red;
}

.placeholder {
  color: red;
}

ul {
  text-align: center;
  height: 45px;
  width: 4000px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.7s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: red;
  color: black;
}



